<mat-card class="login-card">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-form">
    <mat-form-field class="login-form__element">
      <input matInput placeholder="* User" formControlName="userId">
    </mat-form-field>

    <mat-form-field class="login-form__element">
      <input matInput placeholder="* Password" formControlName="password" type="password">
    </mat-form-field>
    <button class="login-form__element" mat-button mat-raised-button type="submit" [disabled]="!loginForm.valid">Submit</button>
  </form>
</mat-card>
