<mat-card *ngFor="let favorite of favoritesList">
  <mat-card-header>
    <mat-card-title>{{favorite.entry.target.site.title}}</mat-card-title>
    <mat-card-subtitle>{{favorite.entry.target.site.preset}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      {{favorite.entry.target.site.description}}
    </p>
  </mat-card-content>
</mat-card>
